<div id="<%= dom_id job %>">
  <p>
    <strong>Company:</strong>
    <%= job.company %>
  </p>

  <p>
    <strong>Logo:</strong>
    <%= job.logo %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= job.position %>
  </p>

  <p>
    <strong>Posted at:</strong>
    <%= job.posted_at %>
  </p>

  <p>
    <strong>Contract:</strong>
    <%= job.contract %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= job.location %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= job.website %>
  </p>

  <p>
    <strong>Apply:</strong>
    <%= job.apply %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= job.description %>
  </p>

</div>
