<div class="min-h-screen bg-gray-50 flex flex-col justify-center py-6 sm:py-12 sm:px-6 lg:px-8">
  <div class="flex flex-col items-center sm:mx-auto sm:w-full sm:max-w-md">
    <div class="flex w-40 px-4 py-4 justify-between items-center bg-pattern-header  text-white sm:rounded-lg">
      <div class="space-y-2">
        <h1 class="text-lg sm:text-2xl sm:font-bold">Frontend Mentor</h1>
        <h2 class="text-xs sm:text-lg">Devjobs</h2>
      </div>
    </div>

    <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
      Sign in to your account
    </h2>
  </div>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white pt-1 sm:py-4 px-4 shadow sm:rounded-lg sm:px-10">

      <% if alert%>
        <!-- This example requires Tailwind CSS v2.0+ -->
        <div class="rounded-md bg-red-50 p-4  border-2 border-red-300">
          <div class="flex items-center">
            <div class="flex-shrink-0">
              <!-- Heroicon name: solid/x-circle -->
              <svg class="h-5 w-5 text-red-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
              </svg>
            </div>
            <div class="ml-3">
              <div class="text-lg text-red-500">
                <p class="alert"><%= alert %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { data: { turbo: false }, class: "space-y-6"}) do |f| %>
        <div>
          <div class="field">
            <%= f.label :email, class: "block text-sm font-medium text-gray-700" %>
            <div class="mt-1">
              <%= f.text_field :email, autofocus: true, autocomplete: "login", class: "appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
            </div>
          </div>
        </div>

        <div>
          <%= f.label :password, class: "block text-sm font-medium text-gray-700" %>
          <div class="mt-1">
            <%= f.password_field :password, autocomplete: "current-password", class: "appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"  %>
          </div>
        </div>

        <div class="flex items-center justify-between">
          <div class="flex items-center">
            <%= f.check_box :remember_me, class: "h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded" %>
            <%= f.label :remember_me, class: "ml-2 block text-sm text-gray-900" %>
          </div>
        </div>

        <div>
          <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-violet-300 hover:bg-violet-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-violet-500">
            <%= f.submit "Sign in", class: "bg-transparent" %>
          </button>
        </div>
      <% end %>

      <div class="mt-10">
        <div class="relative">
          <div class="absolute inset-0 flex items-center">
            <div class="w-full border-t border-gray-300"></div>
          </div>
          <div class="relative flex justify-center text-sm">
          </div>
        </div>

        <div class="flex flex-col">
          <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
              <h3 class="mt-8 text-2xl">Test Logins</h3>
              <div class="mt-2 shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                <table class="min-w-full divide-y divide-gray-200">
                  <thead class="bg-gray-50">
                  <tr>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                      Email
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                      Password
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @users.order(:id).each do |user| %>
                    <tr class="bg-white">
                      <td class="px-6 py-1 whitespace-nowrap text-sm font-medium text-gray-900">
                        <%= user.email %>
                      </td>
                      <td class="px-6 py-1 whitespace-nowrap text-sm text-gray-500">
                        "password"
                      </td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
